## Preprocessing

In [ ]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [ ]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(columns = ['EIN'])
application_df

,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...,...
34294,THE LIONS CLUB OF HONOLULU KAMEHAMEHA,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,INTERNATIONAL ASSOCIATION OF LIONS CLUBS,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,PTA HAWAII CONGRESS,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,AMERICAN FEDERATION OF GOVERNMENT EMPLOYEES LO...,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,WATERHOUSE CHARITABLE TR,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

In [ ]:
# Determine the number of unique values in each column.
application_df.nunique()

NAME                      19568
APPLICATION_TYPE             17
AFFILIATION                   6
CLASSIFICATION               71
USE_CASE                      5
ORGANIZATION                  4
STATUS                        2
INCOME_AMT                    9
SPECIAL_CONSIDERATIONS        2
ASK_AMT                    8747
IS_SUCCESSFUL                 2
dtype: int64

In [ ]:
# Look at APPLICATION_TYPE value counts for binning
app_counts = application_df['APPLICATION_TYPE'].value_counts()
app_counts

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [ ]:
application_types_to_replace = list(app_counts.iloc[8:].index)
cutoff_value = 528

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [ ]:
# Look at CLASSIFICATION value counts for binning
class_counts = application_df['CLASSIFICATION'].value_counts()
class_counts

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [ ]:
# You may find it helpful to look at CLASSIFICATION value counts >1
class_counts_gt1 = class_counts.loc[class_counts > 1]
class_counts_gt1.head()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [ ]:
# Choose a cutoff value and create a list of classifications to be replaced
classifications_to_replace = list(class_counts[class_counts < 1000].index)

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(
        cls, "Other")

# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [ ]:
# Look at NAME value counts
name_counts = application_df['NAME'].value_counts()
name_counts

PARENT BOOSTER USA INC                                                  1260
TOPS CLUB INC                                                            765
UNITED STATES BOWLING CONGRESS INC                                       700
WASHINGTON STATE UNIVERSITY                                              492
AMATEUR ATHLETIC UNION OF THE UNITED STATES INC                          408
                                                                        ...
ST LOUIS SLAM WOMENS FOOTBALL                                              1
AIESEC ALUMNI IBEROAMERICA CORP                                            1
WEALLBLEEDRED ORG INC                                                      1
AMERICAN SOCIETY FOR STANDARDS IN MEDIUMSHIP & PSYCHICAL INVESTIGATI       1
WATERHOUSE CHARITABLE TR                                                   1
Name: NAME, Length: 19568, dtype: int64

In [ ]:
# create a list of names to be replaced
names_to_replace = list(name_counts[name_counts < 100].index)

# Replace with dataframe
for name in names_to_replace:
    application_df['NAME'] = application_df['NAME'].replace(
        name, "Other")

# Check if binning was successful
application_df['NAME'].value_counts()

Other                                                                 25987
PARENT BOOSTER USA INC                                                 1260
TOPS CLUB INC                                                           765
UNITED STATES BOWLING CONGRESS INC                                      700
WASHINGTON STATE UNIVERSITY                                             492
AMATEUR ATHLETIC UNION OF THE UNITED STATES INC                         408
PTA TEXAS CONGRESS                                                      368
SOROPTIMIST INTERNATIONAL OF THE AMERICAS INC                           331
ALPHA PHI SIGMA                                                         313
TOASTMASTERS INTERNATIONAL                                              293
MOST WORSHIPFUL STRINGER FREE AND ACCEPTED MASONS                       287
LITTLE LEAGUE BASEBALL INC                                              277
INTERNATIONAL ASSOCIATION OF LIONS CLUBS                                266
MOMS CLUB                                                               210
INTERNATIONAL ASSOCIATION OF SHEET METAL AIR RAIL & TRANSPORTATION      206
AMERICAN ASSOCIATION OF UNIVERSITY WOMEN                                197
FARMERS EDUCATIONAL AND COOPERATIVE UNION OF AMERICA                    166
KNIGHTS OF COLUMBUS                                                     158
HABITAT FOR HUMANITY INTERNATIONAL INC                                  154
TENNESSEE ORDER OF THE EASTERN STAR                                     151
VETERANS OF FOREIGN WARS OF THE UNITED STATES AUXILIARY                 144
PTA UTAH CONGRESS                                                       140
THE UNITED STATES PONY CLUBS INC                                        136
CIVITAN INTERNATIONAL                                                   131
SIGMA BETA DELTA INC                                                    127
HONOR SOCIETY OF PHI KAPPA PHI                                          107
MONTANA 4-H FOUNDATION INC                                              107
WASHINGTON STATE GRANGE                                                 106
UNIVERSITY OF WYOMING                                                   105
DEMOLAY INTERNATIONAL                                                   104
SERTOMA INC                                                             103
Name: NAME, dtype: int64

In [ ]:
# Convert categorical data to numeric with `pd.get_dummies`
app_numeric = pd.get_dummies(application_df)
app_numeric.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,NAME_ALPHA PHI SIGMA,NAME_AMATEUR ATHLETIC UNION OF THE UNITED STATES INC,NAME_AMERICAN ASSOCIATION OF UNIVERSITY WOMEN,NAME_CIVITAN INTERNATIONAL,NAME_DEMOLAY INTERNATIONAL,NAME_FARMERS EDUCATIONAL AND COOPERATIVE UNION OF AMERICA,NAME_HABITAT FOR HUMANITY INTERNATIONAL INC,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,108590,1,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,1,5000,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3,1,6692,1,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,1,142590,1,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,1,0

In [ ]:
# Split our preprocessed data into our features and target arrays
X = app_numeric.drop(['IS_SUCCESSFUL'], axis=1)
y = app_numeric['IS_SUCCESSFUL']

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=58)

In [ ]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [ ]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
noi_features = len(X_train_scaled[0])
hidden_nodes_layer1 = 10
hidden_nodes_layer2 = 8
hidden_nodes_layer3= 6

nn_model2 = tf.keras.models.Sequential()

# First hidden layer
nn_model2.add(tf.keras.layers.Dense(units=hidden_nodes_layer1,
             input_dim = noi_features, activation="relu"))

# Second hidden layer
nn_model2.add(tf.keras.layers.Dense(
    units = hidden_nodes_layer2, activation="sigmoid"))

# Third hidden layer
nn_model2.add(tf.keras.layers.Dense(
    units=hidden_nodes_layer3, activation ="sigmoid"))

# Output layer
nn_model2.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))


# Check the structure of the model
nn_model2.summary()

Model: "sequential_3"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_12 (Dense)            (None, 10)                750

 dense_13 (Dense)            (None, 8)                 88

 dense_14 (Dense)            (None, 6)                 54

 dense_15 (Dense)            (None, 1)                 7

=================================================================
Total params: 899
Trainable params: 899
Non-trainable params: 0
_________________________________________________________________

In [ ]:
# Compile the model
nn_model2.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

In [ ]:
# Train the model
fit_model2 = nn_model2.fit(X_train_scaled, y_train, epochs=100)

Epoch 1/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6058 - accuracy: 0.7013
Epoch 2/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5265 - accuracy: 0.7478
Epoch 3/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5117 - accuracy: 0.7534
Epoch 4/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5052 - accuracy: 0.7566
Epoch 5/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5012 - accuracy: 0.7547
Epoch 6/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4983 - accuracy: 0.7584
Epoch 7/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4963 - accuracy: 0.7575
Epoch 8/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4952 - accuracy: 0.7601
Epoch 9/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4940 - accuracy: 0.7589
Epoch 10/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4934 - accuracy: 0.7590
Epoch 11/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4928 - accuracy: 0.7601
Epoch 12/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4922 - accuracy: 0.7597
Epoch 13/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4915 - accuracy: 0.7602
Epoch 14/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4909 - accuracy: 0.7604
Epoch 15/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4907 - accuracy: 0.7606
Epoch 16/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4902 - accuracy: 0.7612
Epoch 17/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4900 - accuracy: 0.7602
Epoch 18/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4897 - accuracy: 0.7608
Epoch 19/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4892 - accuracy: 0.7603
Epoch 20/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4891 - accuracy: 0.7612
Epoch 21/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4890 - accuracy: 0.7593
Epoch 22/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4885 - accuracy: 0.7593
Epoch 23/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4884 - accuracy: 0.7617
Epoch 24/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4880 - accuracy: 0.7608
Epoch 25/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4877 - accuracy: 0.7605
Epoch 26/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4875 - accuracy: 0.7608
Epoch 27/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4872 - accuracy: 0.7596
Epoch 28/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4875 - accuracy: 0.7606
Epoch 29/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4870 - accuracy: 0.7603
Epoch 30/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4867 - accuracy: 0.7605
Epoch 31/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4866 - accuracy: 0.7614
Epoch 32/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4864 - accuracy: 0.7609
Epoch 33/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4865 - accuracy: 0.7611
Epoch 34/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4863 - accuracy: 0.7612
Epoch 35/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4861 - accuracy: 0.7605
Epoch 36/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4858 - accuracy: 0.7615
Epoch 37/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4858 - accuracy: 0.7615
Epoch 38/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4855 - accuracy: 0.7618
Epoch 39/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4853 - accuracy: 0.7622
Epoch 40/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4850 - accuracy: 0.7613
Epoch 41/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4853 - accuracy: 0.7612
Epoch 42/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4853 - accuracy: 0.7604
Epoch 43/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4846 - accuracy: 0.7615
Epoch 44/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4850 - accuracy: 0.7615
Epoch 45/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4848 - accuracy: 0.7604
Epoch 46/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4849 - accuracy: 0.7603
Epoch 47/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4845 - accuracy: 0.7614
Epoch 48/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4842 - accuracy: 0.7621
Epoch 49/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4841 - accuracy: 0.7616
Epoch 50/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4842 - accuracy: 0.7623
Epoch 51/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4841 - accuracy: 0.7622
Epoch 52/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4843 - accuracy: 0.7619
Epoch 53/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4841 - accuracy: 0.7628
Epoch 54/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4842 - accuracy: 0.7623
Epoch 55/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4837 - accuracy: 0.7619
Epoch 56/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4842 - accuracy: 0.7626
Epoch 57/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4836 - accuracy: 0.7627
Epoch 58/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4838 - accuracy: 0.7624
Epoch 59/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4838 - accuracy: 0.7622
Epoch 60/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4835 - accuracy: 0.7632
Epoch 61/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4835 - accuracy: 0.7633
Epoch 62/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4835 - accuracy: 0.7631
Epoch 63/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4836 - accuracy: 0.7612
Epoch 64/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4832 - accuracy: 0.7626
Epoch 65/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4833 - accuracy: 0.7626
Epoch 66/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4835 - accuracy: 0.7631
Epoch 67/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4834 - accuracy: 0.7621
Epoch 68/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4832 - accuracy: 0.7626
Epoch 69/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4833 - accuracy: 0.7624
Epoch 70/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4834 - accuracy: 0.7630
Epoch 71/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4829 - accuracy: 0.7617
Epoch 72/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4828 - accuracy: 0.7629
Epoch 73/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4831 - accuracy: 0.7612
Epoch 74/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4828 - accuracy: 0.7629
Epoch 75/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4828 - accuracy: 0.7634
Epoch 76/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4830 - accuracy: 0.7641
Epoch 77/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4828 - accuracy: 0.7639
Epoch 78/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4831 - accuracy: 0.7622
Epoch 79/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4827 - accuracy: 0.7629
Epoch 80/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4827 - accuracy: 0.7633
Epoch 81/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4826 - accuracy: 0.7621
Epoch 82/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4826 - accuracy: 0.7614
Epoch 83/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4828 - accuracy: 0.7625
Epoch 84/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4824 - accuracy: 0.7633
Epoch 85/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4826 - accuracy: 0.7631
Epoch 86/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4825 - accuracy: 0.7637
Epoch 87/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4823 - accuracy: 0.7638
Epoch 88/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4825 - accuracy: 0.7633
Epoch 89/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4823 - accuracy: 0.7629
Epoch 90/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4824 - accuracy: 0.7642
Epoch 91/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4823 - accuracy: 0.7627
Epoch 92/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4827 - accuracy: 0.7628
Epoch 93/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4825 - accuracy: 0.7609
Epoch 94/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4823 - accuracy: 0.7636
Epoch 95/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4827 - accuracy: 0.7629
Epoch 96/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4822 - accuracy: 0.7638
Epoch 97/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4820 - accuracy: 0.7636
Epoch 98/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4818 - accuracy: 0.7628
Epoch 99/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4820 - accuracy: 0.7628
Epoch 100/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4818 - accuracy: 0.7624

In [ ]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn_model2.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.4912 - accuracy: 0.7555 - 429ms/epoch - 2ms/step
Loss: 0.4912485182285309, Accuracy: 0.7554519176483154

In [98]:
# Export our model to HDF5 file
filepath = "/Users/atoth/Downloads/AlphabetSoupCharity_Optimization.h5"
nn_model2.save("AlphabetSoupCharity_Optimization1.h5")